on: 
  pull_request:
    branches:
      - develop
  push:
    branches:
      - develop

name: Flutter analyze build debug

jobs:
  analyze:
    name: Flutter analyze, build
    runs-on: ubuntu-latest
    steps:
      - name: Save state
        run: echo "{name}={value}" >> $GITHUB_STATE
      - name: Set output
        run: echo "{name}={value}" >> $GITHUB_OUTPUT
      - name: Checkout code
        uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'zulu'
          java-version: '12'        
      - name: Cache Flutter dependencies
        uses: actions/cache@v2
        with:
          path: /opt/hostedtoolcache/flutter
          key: ${{ runner.OS }}-flutter-install-cache        
      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: 'stable'
      - name: Install packages
        run: flutter pub get          
      - name: Run analyze
        run: flutter analyze
      - name: Build android debug
        run: flutter build apk --debug --split-per-abi
      - name: Push APKs to Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: android-all-abis
          path: build/app/outputs/**/debug/*.apk